body {
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.8;
    color: #000000;
    background-color: #fafafa;
    max-width: 700px;
    margin: 0 auto;
    padding: 60px 20px;
    text-align: left;
    font-size: 18px;
}

h1 {
    font-size: 3.5em;
    margin-bottom: 20px;
    font-weight: normal;
    text-align: center;
}

h2 {
    font-size: 1.5em;
    margin-top: 60px;
    margin-bottom: 20px;
    font-weight: normal;
}

p {
    /*font-size: 1.1em;*/
    margin-bottom: 30px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 40px;
}

li {
    margin-bottom: 15px;
}

a {
    color: #000000;
    text-decoration: none;
    transition: all 0.3s ease;
}

a:hover {
    text-decoration: underline;
}

section {
    margin-bottom: 80px;
}
.intro {
    text-align: center;
    margin-bottom: 40px;
}

.contact {
    text-align: center;
}
